# local env files
.env*.local

./Frontend/.env

# vercel
.vercel

### DS_Store ###
/serviceAccountKey.json
LegaLensBackend/src/main/resources/vertex-api-key.json
LegaLensBackend/src/main/resources/serviceAccountKey.json
Frontend/.env.development
Frontend/.env.production