process-wrapper {
    position: relative;
    width: 90%;
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;

  
  }

  body {
    overflow-x: hidden; /* Prevents extra horizontal scroll */
    margin: 0;
    padding: 0;
  }
  
  /* Container with Steps */
  .process-container {
    display: flex;
    width: 210vw; /* 4 steps, each 100vw */
    transition: transform 0.7s ease-out;
    transform: translateX(0vw); /* Start at Step 1 */
    overflow: hidden;
  }
  
  /* Each Step */
  .step-box {


    min-width: 50vw; /* Each step takes full viewport width */
    height:500px;/* Ensure height is consistent */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #454545, #353535);
    color: #f4f4f2; 
    font-size: 1.5rem;
    padding: 40px;
    border-radius: 40px;
    position: relative;
    margin-right:25px !important;
    margin:30px;
    overflow: hidden;
    box-shadow: 0px 10px 20px rgba(31, 31, 31, 0.4);

  }
  
  /* Step Number */
  .step-number {
    background-color: #f4f4f2;
    font-size: 3rem;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.2);
    padding: 10px 20px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  /* Step Title */
  .step-title {
    font-size: 2rem;
    margin: 20px 0;
  }
  
  /* Step Description */
  .step-description {
    font-size: 1.2rem;
    max-width: 500px;
    text-align: center;
    line-height: 1.6;
  }
  
  /* Left & Right Arrows */
  .arrow {

  }
  
  .arrow:hover {
    background: rgba(255, 255, 255, 0.5);
  }
  
  .left-arrow {
    left: 20px;
  }
  
  .right-arrow {
    right: 20px;
  }
  /* Responsive */
  @media (max-width: 768px) {
    .step-box {
      height: 70vh;
      padding: 20px;
      font-size: 1.2rem;
    }
  
    .step-number {
      font-size: 2rem;
      
    }
  
    .step-title {
      font-size: 1.5rem;
    }
  
    .step-description {
      font-size: 1rem;
    }
  
    .arrow {
      font-size: 1.5rem;
      padding: 10px;
    }
  }

.step-gif{
  width:180px;
  height:180px;
  border-radius:10px

}

.step-number {
  display: flex;
  align-items: center; /* Centers vertically */
  justify-content: center; /* Centers horizontally */
  height: 50px;
  width: 30px;
  font-size: 30px;
  margin-bottom: 30px;
  background-color: rgba(255, 255, 255, 0.2); /* Optional: Background for visibility */
  border-radius: 10px; /* Optional: Rounded corners */
}


