.page{
    background-color: #f4f4f2; 
    width:100vw;
    height:100vh;

}

.page-content{
    margin-top:90px;
}

.analysiscontainer {
    display: flex;
    justify-content: center;  /* Centers horizontally */
    align-items: center;  /* Centers vertically (if needed) */
    text-align: center;
      /* Centers text inside */
    padding-top:9vh;
}

.contractdetails2{

  width:800px;
  
}
.card.result{

  width:800px;
    
}

@media (max-width: 1280px) {
    .analysiscontainer .row {
      flex-direction: column;
    }
    .contractdetails2, .result {
      width: 100%;
    }
  }


