.page{
    background-color: #f4f4f2; 
    width:100vw;
    overflow: hidden;
    /* height:1100px; */

}

.page-content{
    margin-top:20px;
}

.details{
  font-size:30px;
  font-family: 'Bebas Neue', sans-serif;
}

.analysiscontainer {
      /* Centers text inside */
    padding-top: 12vh;
    padding-bottom: 2vh;
    max-width:95vw;
}


.nav-item{

  font-size:23px;
  font-family: 'Bebas Neue', sans-serif;

}









