.page{
    background-color: #f4f4f2; 
    width:100vw;
    height:100vh;

}

.analysiscontainer {
    display: flex;
    justify-content: center;  /* Centers horizontally */
    align-items: center;  /* Centers vertically (if needed) */
    text-align: center;
      /* Centers text inside */
    padding-top:9vh;
}

.contractdetails2{
    width:98vh;
    margin-right:10vh;

}
.card.result{
    width:43vw;
    margin-right:100px;
   
}


