
.title {
    font-family: 'Bebas Neue', sans-serif;
    width:100%;
    font-size:100px;
    height: 1000px;
    padding:350px;
    color:rgb(43, 42, 42);
    transition: font-size 1s ease; 
    
}

.title:hover {
    font-size:120px;
}


.home-container-fluid{
    background-color: #f4f4f2;  /* this is the entire container. */
    margin-top:75px;
    width:100%;
    min-height:220vh;
 }

.description-container{
    width:100%;
    border:bold;
    position: relative;
}

.description-container::after {
    content: "";
    display: block; /* Makes it visible */
    width: 90%; /* Border width only 80% of the container */
    height: 1.5px; /* Border thickness */
    background: rgba(71, 70, 70, 0.3); /* Border color */
    position: absolute;
    left: 50%;  /* Move it to center */
    bottom: 0;
    transform: translateX(-50%);
}



.smoltitle{
    font-size:14px;

}

.bigtitle{
    font-family: 'Bebas Neue', sans-serif;
    font-size:30px;

}

.description {
    font-family: 'Noto Sans', sans-serif;
    font-size:18px;
    width:61%;
    padding-top:60px;
    margin-bottom:40px;
}

.carddescription {
    margin-top:300px;
}

.mission{
    font-family: 'Bebas Neue', sans-serif;
    width:100%;
    font-size:80px;
    height: 100px;
    color:rgb(43, 42, 42);
    transition: font-size 1s ease;
    margin-top:100px;
    margin-bottom:40px; 

}

.price{
    font-family: 'Bebas Neue', sans-serif;
    width:100%;
    font-size:80px;
    height: 100px;
    color:rgb(43, 42, 42);
    transition: font-size 1s ease;
    margin-top:80px;
    margin-bottom:40px; 

}






