.navbar {
    
    background-color: #f4f4f2;
    height:90px;
    position: fixed; /* Keeps it at the top */
    top: 0; /* Aligns it to the top */
    left: 0;
    width:100%;
    z-index: 1000; /* Ensures it stays above other elements */
    border-bottom: 1px solid rgb(48, 47, 47,);

   
}

.navbar-brand {
    font-family: 'Bebas Neue', sans-serif !important;
    font-size: 30px !important;  /* Adjust as needed */
    padding-left:30px;
    text-decoration: none; /* Removes default underline */
    color: inherit; /* Keeps default text color */
    transition: font-size 0.3s ease; 
    display: inline-block; 
 }

 .navbar-brand:hover {
    font-size: 26px !important; /* Increase font size on hover */
}
 

.upload{
    font-size:11.5px;
    color:rgb(57, 57, 57);
    background-color:  #f4f4f2;
    width:100px;
    HEIGHT:60px;
    margin-right:20px;
    border-radius:10px;
    transition: background-color 0.3s ease;
   
}

.login{
    font-size:15px;
    color:rgb(58, 58, 58);
    background-color:  #f4f4f2;
    width:100px;
    HEIGHT:60px;
    border-radius:10px;
    margin-right:20px;
    transition: background-color 0.3s ease;
}

.login:hover {

    background-color: rgb(28, 27, 27);
    color:rgb(196, 196, 196); /* Changes background color on hover */
    border-color:rgb(22, 22, 22);
}



.upload:hover {

    background-color: rgb(4, 4, 4);
    color:rgb(209, 209, 209); /* Changes background color on hover */
    border-color:rgb(22, 22, 22);
}

.button-container {
    display: flex; /* Optional: adds space between the buttons */
    align-items: center; /* Aligns buttons vertically */
  }



